<!-- Preloader Component -->
<div class="preloader" id="preloader">
    <div class="preloader-content">
        <div class="cube-loader">
            <div class="cube-face cube-face-front"></div>
            <div class="cube-face cube-face-back"></div>
            <div class="cube-face cube-face-left"></div>
            <div class="cube-face cube-face-right"></div>
            <div class="cube-face cube-face-top"></div>
            <div class="cube-face cube-face-bottom"></div>
        </div>
        <div class="loader-text">
            <h3>PrintHub3D</h3>
            <p class="loading-text">Đang tải<span class="dots">...</span></p>
        </div>
        <div class="progress-bar">
            <div class="progress-fill"></div>
        </div>
    </div>
</div>